* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Times New Roman";
    font-size: 50px;
    font-weight: bold;

}

header {
    width: 100%;
    height: 180px;
    background: linear-gradient(#C0C0C0, #00ff00, #C0C0C0);
}

.LOGO {
    display: flex;

}

.MENU {
    padding: 40px;
}

form {
    display: flex;
    padding: 15px;
}

.fa-search {
    width: 50px;
    height: 50px;

}

#BUT {
    border: none;
    font: 40px center;

}

#search-form {
    padding: 20px;
    width: 300px;
    padding-left: 20px;
    padding-right: 20px;
    color: black;
    border: none;
    autline: none;

}

input {
    font-size: 30px;
}

h2 {
    padding: 45px;
    text-align: left;

}


ul {
    text-align: center;
    list-style: none;
}

a {
    padding: 50px;
    text-decoration: none;
    color: #070707;
}

li {
    display: inline;
}

a:link {
    color: red;
}

a:visited {

}

a:hover {
    font-size: 60px;
}

a:active {

}

#razdelitel {
    font-size: 80px;
}